# Data Science Tools and Ecosystem



In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- scikitlearn

Data Science Tools:
(|)
| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4) + 5
print(result)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

"Objectives":

- Python
- R
- 
SQL

## Author
Kashif